yt-icon-progress-bar {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 48px;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
}

.youtube-shorts-extension-progress-bar {
    position: relative;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 8px;
}

.youtube-shorts-extension-progress-bar::-webkit-progress-value {
    background-color: red;
    border-radius: 15px;
}

.youtube-shorts-extension-progress-bar::-webkit-progress-bar {
    background-color: gray;
    border-radius: 15px;
}